.post {
  background-color: #d6d3d1;
  display: flex;
  flex-direction: column;
  width: 70vh;
  margin: 2rem;
  padding: 1rem;
}

.post__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post__header > h5 {
  margin-left: 1rem;
  cursor: pointer;
}

.post__delete {
  margin-left: auto;
}

.post__image {
  margin: 0.5rem 0rem;
  height: 20rem;
}

.post__image > img {
  height: 100%;
  width: 100%;
}

.post__content--top {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.post__content--icon {
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post__content--icon > .MuiSvgIcon-root {
  font-size: xx-large;
  cursor: pointer;
}

.post__likedCount {
  margin-left: 0.5rem;
}

.fav:hover {
  color: red;
}

.post__content--icon:hover > .MuiSvgIcon-root {
  color: red;
  transition: ease-in;
}

.post__content--caption {
  text-align: left;
  cursor: pointer;
}

.post__content--para {
  height: 1.7em;
  margin: 0rem;
  overflow: hidden;
}

.post__content--paraClick {
  height: auto;
  overflow: hidden;
}

.post__commentInput {
  /* border: 1px solid black; */
}

.post__commentInput--form {
  width: 100%;
  display: flex;
}

.post__commentInput--form > textarea {
  width: 90%;
  outline-width: 0;
  border: none;
  padding: 5px 20px;

  border-radius: 999px;
  background-color: #eff2f5;
}

.post__commentInput--form > button {
  width: 10%;
}

.post__commentOutput {
  float: left;
  font-size: smaller;
  margin-bottom: 1rem;
}

.post__viewMore {
  text-align: left;
  font-size: small;
  color: grey;
  margin: 0rem;
  margin-bottom: 0.5rem;
}

.post__comment {
  text-align: left;
}

.post__comment > p {
  margin: 0px;
}

textarea {
  resize: none;
}

.post__button {
  border: none;
  color: white;
  margin-left: 2px;
  cursor: pointer;
  background-color: var(--bgColor);
}

@media (max-width: 600px) {
  .post {
    background-color: #d6d3d1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 1rem 0rem;
    padding: 1rem 0rem;
  }

  .post__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .post__header > h5 {
    margin-left: 1rem;
    cursor: pointer;
  }

  .post__image {
    margin: 0rem 0rem;
    height: 20rem;
    width: 100vw;
  }

  .post__image > img {
    height: 100%;
  }

  .post__content--top {
    text-align: left;
    display: flex;
    flex-direction: row;
  }

  .post__content--icon {
    padding: 0.3rem;
  }

  .post__content--icon > .MuiSvgIcon-root {
    color: red;
    font-size: xx-large;
    cursor: pointer;
  }

  .post__content--icon:hover > .MuiSvgIcon-root {
    color: red;
    transition: ease-in;
  }

  .post__content--caption {
    text-align: left;
    cursor: pointer;
    width: 100vw;
  }

  .post__content--para {
    height: 1.7em;
    overflow: hidden;
  }

  .post__content--paraClick {
    height: auto;
    overflow: hidden;
  }
}
